07-bpel/BankService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<xs:schema xmlns:tns="http://soap02/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap02/">

    <xs:element name="GetBalance" type="tns:GetBalance"/>

    <xs:element name="GetBalanceResponse" type="tns:GetBalanceResponse"/>

    <xs:element name="ValidatePayment" type="tns:ValidatePayment"/>

    <xs:element name="ValidatePaymentResponse" type="tns:ValidatePaymentResponse"/>

    <xs:complexType name="ValidatePayment">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
            <xs:element name="arg2" type="xs:string" minOccurs="0"/>
            <xs:element name="arg3" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValidatePaymentResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetBalance">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"/>
            <xs:element name="arg1" type="xs:string" minOccurs="0"/>
            <xs:element name="arg2" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetBalanceResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>