07-bpel/EmailService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://soap02/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap02/" name="EmailServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://soap02/" schemaLocation="EmailService.xsd"/>
        </xsd:schema>
    </types>
    <message name="SendEmail">
        <part name="parameters" element="tns:SendEmail"/>
    </message>
    <message name="SendEmailResponse">
        <part name="parameters" element="tns:SendEmailResponse"/>
    </message>
    <message name="RegisterToNewsLetter">
        <part name="parameters" element="tns:RegisterToNewsLetter"/>
    </message>
    <message name="RegisterToNewsLetterResponse">
        <part name="parameters" element="tns:RegisterToNewsLetterResponse"/>
    </message>
    <message name="SendNewsLetter">
        <part name="parameters" element="tns:SendNewsLetter"/>
    </message>
    <message name="SendNewsLetterResponse">
        <part name="parameters" element="tns:SendNewsLetterResponse"/>
    </message>
    <portType name="IEmailService">
        <operation name="SendEmail">
            <input wsam:Action="http://soap02/IEmailService/SendEmailRequest" message="tns:SendEmail"/>
            <output wsam:Action="http://soap02/IEmailService/SendEmailResponse" message="tns:SendEmailResponse"/>
        </operation>
        <operation name="RegisterToNewsLetter">
            <input wsam:Action="http://soap02/IEmailService/RegisterToNewsLetterRequest" message="tns:RegisterToNewsLetter"/>
            <output wsam:Action="http://soap02/IEmailService/RegisterToNewsLetterResponse" message="tns:RegisterToNewsLetterResponse"/>
        </operation>
        <operation name="SendNewsLetter">
            <input wsam:Action="http://soap02/IEmailService/SendNewsLetterRequest" message="tns:SendNewsLetter"/>
            <output wsam:Action="http://soap02/IEmailService/SendNewsLetterResponse" message="tns:SendNewsLetterResponse"/>
        </operation>
    </portType>
    <binding name="EmailServicePortBinding" type="tns:IEmailService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SendEmail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="RegisterToNewsLetter">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SendNewsLetter">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EmailServiceService">
        <port name="EmailServicePort" binding="tns:EmailServicePortBinding">
            <soap:address location="http://127.0.0.1:8000/EmailService"/>
        </port>
    </service>
</definitions>