03-wsdl/wsdl-BankService.xml

<?xml version="1.0" encoding="utf-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://soap02/" targetNamespace="http://soap02/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation></documentation>
    <types>
        <xs:schema version="1.0" targetNamespace="http://soap02/"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://soap02/">>
            <xs:element name="GetBalance" type="tns:GetBalance"/>
            <xs:element name="GetBalanceResponse" type="tns:GetBalanceResponse"/>
            <xs:element name="ValidatePayment" type="tns:ValidatePayment"/>
            <xs:element name="ValidatePaymentResponse" type="tns:ValidatePaymentResponse"/>
            <xs:complexType name="ValidatePayment">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg3" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ValidatePaymentResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetBalance">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetBalanceResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <!-- messages (0,*) -->
    <message name="ValidatePaymentIn">
        <part name="ValidatePaymentRequestPart" element="tns:ValidatePayment"/>
    </message>
    <message name="ValidatePaymentOut">
        <part name="ValidatePaymentRequestPart" element="tns:ValidatePaymentResponse"/>
    </message>
    <message name="GetBalanceIn">
        <part name="GetBalanceRequestPart" element="tns:GetBalance"/>
    </message>
    <message name="GetBalanceOut">
        <part name="GetBalanceRequestPart" element="tns:GetBalanceResponse"/>
    </message>
    <portType name="BankServicePortType">
        <operation name="ValidatePaymentOperation">
            <input message="tns:ValidatePaymentIn"/>
            <output message="tns:ValidatePaymentOut"/>
        </operation>
        <operation name="GetBalanceOperation">
            <input message="tns:GetBalanceIn"/>
            <output message="tns:GetBalanceOut"/>
        </operation>
    </portType>
    <!-- bindings (0,*) -->
    <binding name="BankServiceBinding" type="tns:BankServicePortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="ValidatePaymentOperation">
            <wsdlsoap:operation soapAction="http://soap02/ValidatePayment"/>
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetBalanceOperation">
            <wsdlsoap:operation soapAction="http://soap02/GetBalance"/>
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BankServiceService">
        <port name="BankServicePort" binding="tns:BankServiceBinding">
            <wsdlsoap:address location="http://127.0.0.1:8000/BankService"/>
        </port>
    </service>
</definitions>
