03-wsdl/wsdl-EmailService.xml

<?xml version="1.0" encoding="utf-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://soap02/" targetNamespace="http://soap02/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation></documentation>
    <types>
        <xs:schema version="1.0" targetNamespace="http://soap02/"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://soap02/">>
            <xs:element name="RegisterToNewsLetter" type="tns:RegisterToNewsLetter"/>
            <xs:element name="RegisterToNewsLetterResponse" type="tns:RegisterToNewsLetterResponse"/>
            <xs:element name="SendEmail" type="tns:SendEmail"/>
            <xs:element name="SendEmailResponse" type="tns:SendEmailResponse"/>
            <xs:element name="SendNewsLetter" type="tns:SendNewsLetter"/>
            <xs:element name="SendNewsLetterResponse" type="tns:SendNewsLetterResponse"/>
            <xs:complexType name="SendNewsLetter">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendNewsLetterResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RegisterToNewsLetter">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RegisterToNewsLetterResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendEmail">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg2" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg3" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SendEmailResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <!-- messages (0,*) -->
    <message name="SendNewsLetterIn">
        <part name="RequestPart" element="tns:SendNewsLetter"/>
    </message>
    <message name="SendNewsLetterOut">
        <part name="RequestPart" element="tns:SendNewsLetterResponse"/>
    </message>
    <message name="SendEmailIn">
        <part name="RequestPart" element="tns:SendEmail"/>
    </message>
    <message name="SendEmailOut">
        <part name="RequestPart" element="tns:SendEmailResponse"/>
    </message>
    <message name="RegisterToNewsLetterIn">
        <part name="RequestPart" element="tns:RegisterToNewsLetter"/>
    </message>
    <message name="RegisterToNewsLetterOut">
        <part name="RequestPart" element="tns:RegisterToNewsLetterResponse"/>
    </message>
    <portType name="EmailServicePortType">
        <operation name="SendNewsLetterOperation">
            <input message="tns:SendNewsLetterIn"/>
            <output message="tns:SendNewsLetterOut"/>
        </operation>
        <operation name="SendEmailOperation">
            <input message="tns:SendEmailIn"/>
            <output message="tns:SendEmailOut"/>
        </operation>
        <operation name="RegisterToNewsLetterOperation">
            <input message="tns:RegisterToNewsLetterIn"/>
            <output message="tns:RegisterToNewsLetterOut"/>
        </operation>
    </portType>
    <!-- bindings (0,*) -->
    <binding name="EmailServiceBinding" type="tns:EmailServicePortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SendNewsLetterOperation">
            <wsdlsoap:operation soapAction="http://soap02/SendNewsLetter"/>
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
        <operation name="SendEmailOperation">
            <wsdlsoap:operation soapAction="http://soap02/SendEmail"/>
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
        <operation name="RegisterToNewsLetterOperation">
            <wsdlsoap:operation soapAction="http://soap02/RegisterToNewsLetter"/>
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EmailServiceService">
        <port name="EmailServicePort" binding="tns:EmailServiceBinding">
            <wsdlsoap:address location="http://127.0.0.1:8000/EmailService/"/>
        </port>
    </service>
</definitions>
